---
import type { PostsCollection } from "@types";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card.astro";
import LinkButton from "@components/LinkButton.astro";
import slugify from "@utils/slugify";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: PostsCollection[];
}

const { pageNum, totalPages, posts } = Astro.props;

const moreThanOnePage = totalPages > 1;
const prevDisabled = pageNum === 1;
const nextDisabled = pageNum === totalPages;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <ul>
      {posts.map(({ data }) => <Card href={`/posts/${slugify(data)}`} frontmatter={data} />)}
    </ul>
  </Main>

  {
    moreThanOnePage && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prevDisabled}
          href={`/posts/${pageNum - 1 === 1 ? "" : pageNum - 1}`}
          className={`ml-4 select-none${
            prevDisabled ? " pointer-events-none select-none opacity-50 hover:text-base group-hover:fill-base" : ""
          }`}
          ariaLabel="Previous"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class={`${prevDisabled ? "group-hover:!fill-base" : ""}`}>
            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
          </svg>
          Prev
        </LinkButton>
        <LinkButton
          disabled={nextDisabled}
          href={`/posts/${pageNum + 1}`}
          className={`ml-4 select-none${
            nextDisabled ? " pointer-events-none select-none opacity-50 hover:text-base group-hover:fill-base" : ""
          }`}
          ariaLabel="Next"
        >
          Next
          <svg xmlns="http://www.w3.org/2000/svg" class={`${nextDisabled ? "group-hover:!fill-base" : ""}`}>
            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
          </svg>
        </LinkButton>
      </nav>
    )
  }
  <Footer noMarginTop={moreThanOnePage} />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
</style>
